<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div style="display: flex; justify-content: center; margin-top: 5%;">
        <div class="card text-center" style="width: 22rem;">
            <div class="card-header h3">Registrate</div>
            <div class="card-body">
                <form action="/verify.html" method="POST">
                    <p><input type="text" name="name" class="form-control mr-sm-2" placeholder="Nombre"/>
                    </p>
                    <p><input type="email" name="email" class="form-control mr-sm-2" placeholder="Correo electrónico"/>
                    </p>
                    <p><input type="password" name="pass" class="form-control mr-sm-2" placeholder="Contraseña"/></p>
                    {% if error %}
                    <div>
                        <p style="display: flex; justify-content: center; margin-top: 5%;" class=error>
                            <strong>Error:</strong> {{ error }}</p>
                    </div>
                    {% endif %}
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>