<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="margin-top: 7%;">
        <div class="jumbotron">
            <h1 class="display-4">Todo está casi listo</h1>
            <p class="lead" id="text">Le hemos enviado un correo electrónico de confirmación. Recuerda verificar tu
                cuenta a través del link que te hemos enviado para garantizar la veracidad de las
                credenciales proporcionadas.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="index.html" role="button">Volver a la página de inicio</a>
        </div>
    </div>
</body>

</html>